[submodule "Razel/vendor/spdlog"]
	path = Razel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Razel/vendor/GLFW"]
	path = Razel/vendor/GLFW
	url = https://github.com/Jenwein/glfw
	branch = master
[submodule "Razel/vendor/imgui"]
	path = Razel/vendor/imgui
	url = https://github.com/Jenwein/imgui
	branch = docking
[submodule "Razel/vendor/glm"]
	path = Razel/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Razel/vendor/yaml-cpp"]
	path = Razel/vendor/yaml-cpp
	url = https://github.com/jenwein/yaml-cpp
	branch = master
[submodule "Razel/vendor/ImGuizmo"]
	path = Razel/vendor/ImGuizmo
	url = https://github.com/jenwein/ImGuizmo
[submodule "Razel/vendor/Box2D"]
	path = Razel/vendor/Box2D
	url = https://github.com/Jenwein/box2d.git
	branch = main
