# Directories
.vs/
bin/
bin-int/

# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Razel files
@@ -11,4 +11,4 @@ bin-int/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
SandBox/RazelProfile*
/Razel-Editor/Razel.log
/scripts/__pycache__
