################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/VoicePilot.vcxproj
/VoicePilot.vcxproj.filters
/Razel.log
/scripts/__pycache__
*.wav
/.vs/VoicePilot
/VoicePilot.sln
