################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/VoicePilot.vcxproj
/VoicePilot.vcxproj.filters
/Razel.log
/scripts/__pycache__/ai_service.cpython-312.pyc
/Resources/audios/input1.wav
/Resources/audios/output.wav
/Resources/prompts/toolDefsPrompt.json
/.vs/VoicePilot
/VoicePilot.sln
*.wav
